/* You can add global styles to this file, and also import other style files */
body{
    color: #eeeeee;
    background-color: #222831;
}

.character-card{
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #d65a31;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.selected-character-card{
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #393e46;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input[type='number']{
    width: 50px;
}

#buttons{
    margin: auto;
    width: 50%;
}